* {
	margin: 0;
	padding: 0;
}

body {

	background: #EFEFEF url("images/main-bg.jpg") repeat;
	/*font-family: 'PT Sans','Microsoft YaHei', Arial, Helvetica, sans-serif;*/
	font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}


a {
	text-decoration: none;
	color: #091478;
}


/* Header */

header {
	width: 940px;
	height: 150px;
	margin: 0 auto;
}

/* Logo */

#logo {
	margin: 0px auto 30px auto;
	letter-spacing: -1px;
}


#logo h1 {
	line-height: 100px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	text-align: center;
}


/* Menu */

#menu {
	overflow: hidden;
	width: 1000px;
	padding: 0px 0px;
	margin: 0px auto 30px auto;
	background: #064C8A;
	border-radius: 20px 0px 20px 0px;
	font-size: 1.2em;
	color: #000000;
}

#menu ul {

	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 15px 40px 15px 40px;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	font-weight: 200;
	color: #FFFFFF;
	/*border: none;*/
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #05457D;
}

#menu .current_page_item a {
	background: #05457D;
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}


#welcome {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}
#teammember{
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
}
#teammember h2{
	margin: 20px 0;
}
#two-columns {
	
	padding: 30px 0px;
	margin-bottom:30px;
	border-bottom: 1px solid #D4D4D4;
}

#two-columns #col1 {
	float: right;
	width: 640px;
	color: #000000;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}

#two-columns h3 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}
.image-style{
	/*width:320px;*/
	/*height: 260px;*/
	width: 240px;
}
.clean{
	clear: both;
}


/* Footer */

footer {
	overflow: hidden;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding: 40px 0 15px 0;
}

footer p {
	margin: 0;
	line-height: normal;
	text-align: center;
}