*
{
	font-size:12px;
	font-family:verdana,'Microsoft YaHei', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
h1
{
	font-size:3em;
	text-align:center;
	color: #091478;
	font-family: "New Times Romans", serif;
	text-shadow: 5px 5px 10px #00AABB;
	font-style: italic;
}

body { 
	background:#F9F9F9 url("../../images/main-bg.jpg") repeat; 
	font-size: 16px;
	font-weight: 200;


}

input,textarea { padding:7px; font-size:14px !important; width:250px; }



#submitbutton { width:auto; 
position: relative;
left: 350px;
}

header{
	height: 80px;
	padding-top: 60px;
}

nav{
	width:800px;
	margin:10px auto;
	text-align: center;
}

nav ul{
	line-height: normal;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
nav ul li a{
	display: block;
	padding: 10px 20px;
	background-color: #064C8A;
	color: #FFFFFF;
	border-radius:8px;
}
nav ul li a:hover{
	position: relative;
	left: 1px;
	top:1px;
	background-color:#00AABB;
	color: #064C8A;
}
#container
{
	margin:30px auto;
	width:800px;
	background-color:#eee;
	padding:20px;	
	border-radius: 5px;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#container p{
	margin: 35px 0 ;
}

#container form h3{
	margin-bottom: 10px;
}

footer{
	height: 80px;
	text-align: center;
	font-size:.8em;
	padding-top: 50px;
	color:#007A88;
}
