*{
	padding:0px;
	margin:0px;
	border:0px;
}

header {
	margin-top: 0;
	padding: 53px 35px 17px 68px;
	background: url(../images/background_top_blue.jpg) no-repeat #287cb6;
}

header p {
	font: 12px verdana, arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #eee;
}
	
nav{
	font: 12px verdana, arial, helvetica, sans-serif;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	  vertical-align: baseline;
	 background-color:#ddd;
	z-index:2;
	min-width:1024px;
}

h2{
	position:relative;
	margin-bottom:3px;
	text-decoration: underline;
	background-color:#777;
	width:86%;
	padding:10px 0 10px 0;
	display:inline-block;
	border: dotted 1px black;
	line-height:20px;
	border-radius:10px;
	font-size:15px;
	color:#fff;
}

h1{
	padding: 5px 20px 5px 10px;
	font: bold 10px verdana, arial, helvetica, sans-serif;
	color: #fff;
	width: 94%;
	margin:0 auto 10px auto;
	border-radius:20px;
	background: url(../images/background_head_blue.jpg) no-repeat #287cb6;
	font-size:16px;
	padding:10px;
}

main{
	vertical-align:baseline;
	overflow: hidden;
	top:160px;
	position:relative;
    width:90%;
	min-width:1024px;
    margin:0 auto;
	z-index:1;
}

article{
	background: #ddd;
	width:92%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding:25px;
	margin-bottom:10px;
	border: dotted 1px black;
	line-height:20px;
	border-radius:20px;
	display: block;
}

footer{
	top:150px;
	position:relative;
	background: #343434;
	text-align:center;
	padding:25px;
	margin-top:10px;
	height:170px;
}

footer p a {
	color:#ee6600;
}

footer ul li{
	display:block;

}

footer ul {
	display:inline-block;
	vertical-align:top;
	margin-left:70px;
	margin-right:70px;
}

footer ul li p{
	display:block;
	vertical-align:top;
}

footer ul li a{
	display:block;
	vertical-align:top;
	color:#ee6600;
}

footer p{
	color: #fff;
}

section{
	position:fixed;
	width:100%;
	min-width:1024px;
}

section:first-of-type{
	z-index:2;
	background:#fff;
}

main section{
	display:inline-block;
	position:relative;
	width:80%;
	min-width:893px;
	vertical-align:top;
}

aside{
	vertical-align:top;
		position:relative;
		display:inline-block;
      background: #ddd;
      color: white;
      width: 7%;
	min-width:65px;
	  border: dotted 1px black;
      font-family: Droid Sans;
      font-size: 14px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      border-radius: 10px;
	  margin:0 0 10px 20px;
}

aside ul li a{
	color:#ee6600;
	display:block;
	text-decoration:none;
}

aside ul li a:hover{
	text-decoration:underline;
}


article code{
	color: #06a;
}

article p{
	margin-bottom:10px;
}

article ul, article ol{
	width:90%;
	background-color:#ededed;
	border: dashed 1px black;
	margin: 10px auto 10px auto;
	padding: 10px 0 10px 0;
}

article ul li, article ol li {
	padding:0 50px 0 50px;
   list-style-position: inside;
   margin-bottom:10px;
}

article ul li:last-child, article ol li:last-child{
   margin-bottom:0px;
}

article img{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

article a{
	color:#ee6600;

}

pre{
	width:90%;
	background-color:#ededed;
	border: dashed 1px black;
	margin: 10px auto 10px auto;
	padding: 10px 0 10px 0;

}

span a{
	color:#ee6600;
	position:relative;
}

article textarea{
	resize:none;
	margin:0px auto 0px auto;
	display:block;
}

#course{
border-top: 1px solid #ddd;
  background: #343434;
  padding: 5px 20px 5px 10px;
  font: bold 10px verdana, arial, helvetica, sans-serif;
  color: #fff;
  display:block;
}	

#primary_nav_wrap
{
	color:#fff;
	font-size:16px;
	margin-top:5px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul p{
	padding-top:10px;
	padding-bottom:10px;
}

#primary_nav_wrap ul li
{
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	width:33%;
	background-color:#777777;
	border: solid 1px black;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
	color:#000;
}

#primary_nav_wrap ul ul
{
	display:none;
	width:100%;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	width:100%;
	float:none;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	color:#ee6600;
	background-color:#CCC;
}

#primary_nav_wrap ul ul a:hover
{
	color:#ee6600;
	background-color:#999;
}

#primary_nav_wrap ul ul ul
{
	width:100%;
	top:0;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#comment{
	background:lightblue;
	margin-top:5px;
}
	
.menu-button{
	display:none;
}

.anchor{
  display: block;
  height: 160px; 
  margin-top: -160px; 
  visibility: hidden;
}

.only-list{
	width:100%;
	border:none;
	background-color:#ddd;
}

.back_top{
	background-color:#777;
	padding:10px 0 10px 0;
	display:inline-block;
	border: dotted 1px black;
	line-height:20px;
	border-radius:10px;
	font-size:15px;
	color:#fff;
	width:12.5%;
	display:inline-block;
	margin-left:5px;
}

.subhead{
	width: 96%;
	display:block;
	margin:0 auto 0 auto;
	text-align:center;
	padding:0px;
}